.footer{
  width: 100%;
  background: #080808;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.footer hr{
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.footer-logo{
  margin: 20px auto;
}

.footer-logo span{
  font-family: 'Goblin One',sans-serif;
  font-size: 20px;
  text-decoration: underline;
  color: #fff;
}

.footer-links ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
  padding: 0;
  gap: 16px;

}

.footer-links ul li {
  width: 20px;
  aspect-ratio: 1/1;
  background: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.footer-links ul li img{
  width: 80%;
  aspect-ratio: 1/1;
  color: #fff;
}


.footer-navlinks{
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  gap: 40px;
  margin: 10px auto;
}

.footer-navlinks a{
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}


.footer-copyright p{
  color: #fff;
  font-size: 8px;
}