.category-section{
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-section h1 {
    text-align: left;
    font-size: 1.5rem;
    color: #000;
}

.categories{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr ));   
}