.hero-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}
.hero-top-container{
  margin: 20px auto;
}

.hero-container h1 {
  text-align: left;
  font-size: 1.5rem;
  color: var(--text-color);
}

.hero-bottom-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr )); /* Responsive grid */
}